:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
  /*
    Se caso precisar mudar o tamanho de todas as fontes da aplicação ao mesmo tempo
    Mude apenas aqui no font-size(isso se tiver usando a unidade rem nas fonts)
  */
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  /* Faz com que a página ocupe sempre 100% da altura da tela */
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  /* A unidade rem é muito utilizada em aplicações responsivas */
  font: 500 1.6rem Poppins;
  color: var(--color-text-base)
}

.container {
  /* Ocupará 90% da tela horizontalmente */
  width: 90vw;
  /* E ocupará no máximo 700px de largura */
  max-width: 700px;
}

/* Em dispositivos com o mínimo de 700px de largura
  será aplicado uma font-size de 62.5% que equivale a 1rem ou 10px
*/
@media(min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}